body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: #fff;

}

section{
    padding: 2rem;

}
.bellaco{
    background-color: gray;
    color: black;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}
.ultimo{
    background-color: gray;
    color: gray;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}
.sobre_mi{
    background-color: aliceblue;
    color: black;
}
.name_1{
    background-color:gray;
    color: burlywood;
}

.social-fixed-card {
    /* ✨ Propiedades para FIJAR el elemento a la ventana del navegador ✨ */
    position: fixed;
    bottom: 20px; /* Distancia del borde inferior */
    left: 20px;  /* Distancia del borde derecho */
    z-index: 9999; /* Asegura que esté por encima de cualquier otro elemento */
    /* ----------------------------------------------------------------- */

    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* From Uiverse.io by vinodjangid07 */ 
.card {


  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}